@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --color-1: hsl(233, 26%, 24%);
    --color-2: hsl(136, 65%, 51%);
    --color-3: hsl(192, 70%, 51%);
    --color-4: hsl(233, 8%, 62%);
    --color-5: hsl(220, 16%, 96%);
    --color-6: hsl(0, 0%, 98%);
    --color-7: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans';
}

@media(max-width: 768px) {

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .mobile-cont {
        display: block;
    }

    .hamburger {
        width: 2rem;
        height: 1.1rem;
        position: absolute;
        z-index: 5;
        right: 2rem;
        top: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .show-menu .hamburger {
        position: fixed;
        right: 1.5rem;
    }
    
    .line {
        width: 100%;
        height: .1rem;
        padding: 1px;
        background-color: var(--color-1);
    }
    
    .show-menu #line1 {
        transform: rotate(45deg) translate(.1rem, .7rem);
        background-color: var(--color-1);
    }
    
    .show-menu #line2 {
        opacity: 0;
        visibility: hidden;
    }
    
    .show-menu #line3 {
        transform: rotate(-45deg) translate(.0rem, -.6rem);
        background-color: var(--color-1);
    }
    
    .sidebar {
        width: 80%;
        height: 35vh;
        background: var(--color-7);
        position: fixed;
        top: -60%;
        right: 10%;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.397);
        z-index: 7;
    }
    
    .show-menu .sidebar {
        top: 13%;
    }
    
    .menu {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    .menu a {
        display: inline-block;
        text-decoration: none;
        color: var(--color-4);
    }

    .menu li:not(:last-child) {
        margin-bottom: 20px;
    }

}